<section *ngIf="projet">


    {{projet|json}}
    <!-- Form container -->
    <div id=FormContainer class="position-fixed end-0 p-3 border border-black min-vh-100">
        <app-liste-create *ngIf="listeCreate" [projet]="projet"></app-liste-create>
    </div>



    <div [class.disabled-background]="isEditForm" class="container py-5">
        <!-- Btn -->
        <button class="btn btn-info mb-5" (click)="DisplayFormCreate()">Ajouter une liste</button>

        <!-- Listes -->
        <div  class=" bg-gradient d-flex gap-5">
            <app-liste *ngFor="let liste of projet.listes" [liste]="liste" (OnEditOverlayEvent)="EditOverlay()"
                (OnDeleteEvent)="DeleteListe($event)"></app-liste>
        </div>

    </div>

</section>