<div *ngIf="formOverlayState" class="min-vh-100 position-absolute top-0 end-0 p-5 border col-4 bg-white">
    <app-liste-create *ngIf="listeCreateFormState" (close)="FormOverlayClose()" [projetId]="projetId"></app-liste-create>
    <app-liste-edit *ngIf="listeEditFormState" (close)="FormOverlayClose()" [liste]="liste"></app-liste-edit>

    <app-tache-create *ngIf="tacheCreateFormState" (close)="FormOverlayClose()" [listeId]="listeId"></app-tache-create>
    <app-tache-edit *ngIf="tacheEditFormState" (close)="FormOverlayClose()" [tache]="tache"></app-tache-edit>
    
    <div class="d-flex justify-content-end">
        <!-- <button class="btn btn-danger" (click)="FormOverlayClose()">Quitter</button> -->
        <app-btn-danger text="Quitter" (click)="FormOverlayClose()"></app-btn-danger>
    </div>
</div>