<table class="table container mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Created_at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody *ngIf="projets">
      <tr *ngFor="let projet of projets">
        <th scope="row">{{projet.id}}</th>
        <td><a [routerLink]="['/Projet/',projet.id]">{{projet.nom}}</a></td>
        <td>{{projet.createdAt}}</td>
        <td>
            <a class="btn btn-info" [routerLink]="['edit',projet.id]">Edit</a>
            <a class="btn btn-danger" (click)="OnDelete(projet.id)">Delete</a>
        </td>
      </tr>
      
    </tbody>
  </table>