<div *ngIf="createListeOverlayState ||editListeOverlayState||createTachesOverlayState"
    class="position-absolute top-0 end-0 p-3 border border-black min-vh-100 bg-white">
    <button (click)="formOverlayClose()">close</button>
    <app-liste-create *ngIf="createListeOverlayState" [projetId]="projet.id"></app-liste-create>
    <app-liste-edit *ngIf="editListeOverlayState" [projetId]="projet.id" [liste]="listeToEdit"></app-liste-edit>

</div>

<div [class.disabled-background]="createListeOverlayState ||editListeOverlayState||createTachesOverlayState">
    <div class="container py-5">
        <!-- Btn -->
        <button class="btn btn-info mb-5" (click)="CreateListeFormOverlay()">Ajouter une liste</button>
        <div *ngIf="listes" class="d-flex gap-3 ">
            <div *ngFor="let liste of listes" class=" d-flex flex-column gap-3 p-3 col-3 bg-secondary bg-success-subtle">
                <div class="d-flex gap-2">
                    <button class="btn btn-info" (click)="EditListeFormOverlay(liste)">Edit</button>
                    <button class="btn btn-danger" (click)="onDeleteListe(liste.id)">Delete</button>
                </div>
                {{liste.nom}}
                <app-tache [listeId]="liste.id"></app-tache>
            </div>
        </div>
    </div>

</div>