<div *ngIf="createOverlayState || editOverlayState" class="position-absolute top-0 end-0 p-3 border border-black min-vh-100 bg-white">
    <app-liste-create *ngIf="createOverlayState"  [projetId]="projet.id"></app-liste-create>
    <app-liste-edit *ngIf="editOverlayState" [projetId]="projet.id" [listeId]="listeId"></app-liste-edit>
</div>

<div class="container py-5">
    <!-- Btn -->
    <button class="btn btn-info mb-5" (click)="CreateFormOverlay()">Ajouter une liste</button>

    <div *ngIf="listes" class="d-flex gap-3 ">
        
        <div *ngFor="let liste of listes" class=" d-flex flex-column gap-3 p-3 col-3 bg-secondary bg-success-subtle">
                <div class="d-flex gap-2">
                    <button class="btn btn-info" (click)="EditFormOverlay(liste.id)">Edit</button>
                    <button class="btn btn-danger" (click)="onDeleteListe(liste.id)">Delete</button>
                </div>

                {{liste.nom}}

        </div>
        
    </div>

</div>