<!-- form -
<form [formGroup]="tacheEdit" (ngSubmit)="OnSubmit()">
    <div class="form-group">
        <label for="nom">Nom de la tache</label>
        <input type="text" class="form-control" id="nom" formControlName="nom" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>-->

<section class="container gap-4 mt-5 d-flex flex-column justify-content-center">
    <div class="shadow-sm text-bg-info p-3"><h3>Edition d'une tâche</h3> </div>

<form class="d-flex flex-column gap-4 " [formGroup]="tacheEdit" (ngSubmit)="OnSubmit()">
    <div class="d-flex flex-column gap-2 form-group">
        <label class="bg-success-subtle fs-5" for="nom">Nom de la tâche à modifier</label>
        <br>
        <input class="form-control bg-primary-subtle fst-italic" type="text" formControlName="nom" placeholder="Nom de la tâche" required>
    </div>  
    <button class="btn btn-success col-3" type="submit">Mettre à jour</button>
</form>
</section>