<section class="container gap-4 mt-5 d-flex flex-column justify-content-center">
    <div class="shadow-sm text-bg-info p-3"><h3>Création d'un projet</h3> </div>
 
    <form class="d-flex flex-column gap-4 " [formGroup]="projet" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column gap-2 form-group">
            <label class="bg-success-subtle fs-5" for="">Nom de votre projet ?</label>
        </div>

            <input class="form-control bg-primary-subtle fst-italic" type="text" formControlName="nom" placeholder="Nom du projet" required>

        <button class="btn btn-success col-2" type="submit">Créer</button>
    </form>
</section>
