<!-- Form -->
<form *ngIf="formstate" class="d-flex flex-column" [formGroup]="commentaireCreateForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column gap-2 form-group">
        <textarea class="form-control bg-primary-subtle fst-italic w-100" type="text" formControlName="contenu"
            placeholder="texte..." required></textarea>
    </div>

    <button class="btn btn-success" type="submit">Créer</button>
    <span *ngIf="errorState" class="alert alert-danger">{{error}}</span>
</form>