.edit-form-overlay {
    position: fixed; /* ou 'absolute' selon le contexte */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}