<section class="container gap-4 mt-5 d-flex flex-column justify-content-center">
    <div class="shadow-sm text-bg-info p-3"><h3>Création d'une tâche</h3> </div>

<form class="d-flex flex-column gap-4 " [formGroup]="tacheCreate" (ngSubmit)="OnSubmit()">
    <div class="d-flex flex-column gap-2 form-group">
        <label class="bg-success-subtle fs-5" for="nom">Nom de votre tâche ?</label>
        <br>
        <br>

        <input class="form-control bg-primary-subtle fst-italic" type="text" formControlName="nom" placeholder="Nom de la tâche" required>
    </div>  

    <button class="btn btn-success col-3" type="submit">Créer</button>
</form>
</section>
