<app-form-overlay></app-form-overlay>

<div>
    <div class="container py-5">
        <!-- Btn -->
        <button class="btn btn-info mb-5" >Ajouter une liste</button>
        <div *ngIf="listes" class="d-flex gap-3 ">
            <div *ngFor="let liste of listes"
                class=" d-flex flex-column gap-3 p-3 col-3 bg-secondary bg-success-subtle">
                <div class="d-flex gap-2">
                    <button class="btn btn-info">Edit</button>
                    <button class="btn btn-danger" (click)="onDeleteListe(liste.id)">Delete</button>
                </div>
                {{liste.nom}}
                <app-tache [liste]="liste"></app-tache>
            </div>
        </div>
    </div>

</div>